@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Raleway-Regular.woff') format('woff'),
		url('../../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Montserrat-Bold.woff') format('woff'),
		url('../../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
