.messages {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;

    .user-profile {
        border-bottom: $border;
        background-color: $grey;
        position: fixed;
        top: 0;
        width: 100%;

        &__info {
            display: flex;
            align-items: center;
            padding: $padding;
        }
    
        &__title {
            font-size: 18px;
            margin-left: 15px;
            font-weight: bold;
        }
    }

    .message {
        padding: 15px 0;
        max-width: 100%;

        &__wrapper {
            display: flex;
            align-items: flex-start;
            width: 50%;
    
            &_me {
                display: block;
                text-align: right;
                margin-left: auto;
            }
        }
    
        &__description {
            margin: 10px;
            width: 80%;

            &_me {
                margin-left: auto;
            }
        }
    
        &__text {
            display: inline-block;
            background-color: $dark-blue;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 18px;
            color: $white;
            text-align: left;
    
            &_me {
                background-color: $dark-grey;
                color: $dark-blue;
            }
        }
    
        &__date {
            font-size: 12px;
            color: grey;
        }
    }
}